<%- include page_head %>

<%- include menu_apps %>

<center>
  <h4>Please wait while the transaction is processed</h4>
  <p>Transaction Hash: <%= txhash %></p>
  <p>You will be redirect to the transaction details page when completed</p>
  <p>or click <a href="/wallet">here</a> to go to wallet home</p>
</center>
</div>
</div>

<script>
  setTimeout(function(){window.location.href = '/wallet/send?action=sending&txhash=<%= txhash %>&address=<%= addr %>';}, 3000);
</script>

<%- include page_foot %>
