<%- include page_head %>

<div style="text-align:center; padding:5px; padding-top:1px;">
<div style="display:inline-block;border:1px solid grey; padding:5px; border-radius: 5px; ">

<h1>CoinPi Wallet</h1>
<%- include menu %>
Transactions for Ethereum Address:<br/> <h4><%= address %></h4>
No of transactions: <h4><%= txs.length %></h4>
<% if(txs.length > 0) { %>
  <div style="display:inline-block;border:1px solid grey; padding:5px; border-radius: 5px;">
    <div style="display: inline-block; text-align:left;">
    <% txs.forEach(function(obj) { %>
    <% var date    = new Date(obj.timestamp*1000); %>
    To: <%= obj.to %><br>
    Amount: <%= obj.amount %> ether<br>
    Date: <%= date %><br>
    Hash: <%= obj.hash %><br>
    <hr style="height: 1px;border:none;color:#333;background-color:#333;">
    <% }); %>
    </div>
  </div>
<% }; %>

</div>
</div>

<%- include page_foot %>
